@model Product

@{
    ViewData["Title"] = "Product Detail";
}



<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="row">

        <!--<div class="col-lg-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>-->
        <!-- /.col-lg-3 -->



        <div class="row">
            <div class="col-lg-5">
                <img height="500" src="@Model.ImageSrc" alt="@Model.ImageAlt">
            </div>
            <div class="col-lg-4">
                <h1 class="card-title" style="text-decoration:solid; text-shadow:2px 1px 2px #808080">@Model.Name</h1>
                <p class="text"> @Model.ProductInfo </p>
                <hr />
                <h4> Get this game for: $@Model.Price</h4>
                <a asp-controller="Products" asp-route-ID="@Model.ID" asp-action="AddToCart" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
        <hr />
        @Html.Raw(@Model.DetailInfo)        
        <hr />      

    </div>
    <!-- /.col-lg-9 -->

</div>

<!-- /.container -->


