<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="">
            <div class="row">
                <h1 class="my-4 text-center">Available products</h1>
                <hr />
            </div>
            <!-- /.row -->
            <div class="row">

                @{

                    foreach (Product product in @ViewData["Products"] as List<Product>)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a asp-controller="Products" asp-route-ID="@product.ID" asp-action="Detail"><img class="card-img-top img-responsive" src="@product.ImageSrc" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-controller="Products" asp-route-ID="@product.ID" asp-action="Detail">@product.Name</a>
                                    </h4>
                                    <h5>$@product.Price</h5>
                                    <p class="card-text">@product.ProductInfo.</p>                                    
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>                                    
                                </div>
                            </div>
                            <hr />
                        </div>
                        
                    }
                }

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
